{% load crispy_forms_tags %}

<div class="container bg-gray p-5" style="width: 50%;">
    <div class="d-flex justify-content-between">
        <h2>Add Purchase</h2>
        <h2 class="text-white display-4 pl-1">GH <span id="price">0.0</span></h2>
    </div>

    <form method="POST" action="{% url 'pos:add_purchase' %}?next=/" enctype="multipart/form-data">
        {% csrf_token %}
        {{ purchase_form | crispy }}
        
        <input type="submit" name="" value="Complete" class="btn btn-success btn-md">
    </form>
</div>
