{% extends 'bank_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 pt-2 mb-2 text-center d-flex flex-row justify-content-between">
            <h4 class="display-4 text-white">CUSTOMERS [{{num}}]</h2>
            <div class="">
                <a href="{% url 'bank:bank_register_account' %}" class="btn btn-lg btn-info"> <i class="fas fa-plus-circle mr-2"></i> New Registration</a>
                <a href="{% url 'bank:logout' %}" class="btn btn-lg btn-danger"> <i class="fas fa-user-lock mr-2"></i> Log Out</a>
                <b class="text-white"> bal: ₵ {{  total_balance }} </b>
            </div>
        </div>
    </div>
    <form class="header-search-form " method="GET" action="{% url 'bank:bank_index' %}">

        <input id="input" class="w-10" name="q" type="number" placeholder="Account Number ...."
        style="width: 100%;">
        <input type="submit" value="Search" class="btn btn-primary" style="background-color: rgb(0, 192,192)">

    </form>
    <br>
    <div class="row ">
        <div class="col-12">
            <table class="table shadow table-striped table-hover white-bg">
                <thead class="bg-dark text-white ">
                    <tr>
                        <th> Acc. # </th>
                        <th> Full Name</th>
                        <th> Acc. Type </th>
                        <th> Balance </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    {% if customer.profile %}
                    <tr>
                            <td>{{ customer.profile.account_number }}</td>
                            <td class="text-uppercase">{{ customer.last_name }} {{ customer.first_name }}</td>
                            <td>{{ customer.profile.account_type }}</td>
                            <td> GH₵ {{ customer.profile.account_balance }}</td>
                            <td> 
                                <div class="dropdown m-0 p-0">
                                    <span class="category-name" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-caret-down fa-lg"></i>
                                    </span>
                    
                                    <div class="dropdown-menu dropdown-warning  dropdown-menu-right shadow-sm"
                                        aria-labelledby="dropdownMenuButton"> 

                                        <a class="dropdown-item bg-success p-2 text-white" href="{% url 'bank:deposite' customer.pk %}">
                                            <i class="fas fa-hand-holding-usd mr-2"></i> Deposite
                                        </a>

                                        <a class="dropdown-item bg-danger p-2 text-white" href="{% url 'bank:withdrawal' customer.pk %}">
                                            <i class="fas fa-angle-double-left mr-2"></i> Redrawal
                                        </a>

                                        <a class="dropdown-item bg-secondary p-2 text-white" href="{% url 'bank:profile' customer.pk %}">
                                            <i class="fas fa-user mr-2"></i> Profile
                                        </a>
                    
                                    </div>
                                    
                                </div> 
                            </td>
                    </tr>
                    {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="7">
                            {% if search_query %}
                            <h3>Sorry, there is no customer with an account number <span class="text-danger">'{{ search_query }}' </span> </h3>
                            {% else %}
                            <h1>Sorry, You have not registered any customer yet.</h2>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="myoverlay full-screen" id="purchase-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'pos/add_purchase.html' %}
    </div>
</div>


<script async>

    document.querySelector("#purchase-link").addEventListener("click", function (e) {
        document.querySelector("#purchase-view").classList.toggle("show");
    });

    let closes = document.getElementsByClassName("myclose");
    for (let i = 0; i < closes.length; i++) {
        closes[i].addEventListener('click', function (e) {
            this.parentNode.classList.toggle("show");
        });
    }
</script>
{% endblock %}